<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="cosmin_menu">
    <div class="align-left">
      <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="user-util-collapse">
        <%= render :partial => '/user_util_links' %>
      </div>
    </div>
    <!-- END .content -->
  </div>


  <div class="<%= container_classes %>">
    <div class="navbar-header">

      <%= link_to 'Cosmin Website', 'https://www.cosmin.nl', target: :_blank, class: "navbar-brand" %>
      <% if Rails.env.development? %>
        <div class="header-title" style="color: red;">Database test, the stable version is at
          <a href="https://database.cosmin.nl">https://database.cosmin.nl</a></div>
        <!--<div class="header-title">Database of systematic reviews of outcome measurement instruments</div>-->
      <% else %>
        <div class="header-title">Database of systematic reviews of outcome measurement instruments</div>
      <% end %>
    </div>


  </div>
</div>

  <%= content_tag :div, class: 'navbar-search navbar navbar-light bg-light', role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
  <div class="<%= container_classes %>">
    <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
          url: search_action_url,
          advanced_search_url: search_action_url(controller: :catalog, action: 'advanced_search'),
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(controller: :catalog, action: :suggest)
          ))  %>
  </div>
  <% end %>
