<script>
    $(document).ready(ready)
    $(document).on('turbolinks:load', ready)

    function ready() {
        //https://select2.org/data-sources/ajax
        $("#record_instrument_ids").select2({
            minimumInputLength: 3,
            placeholder: 'Search',
            ajax: {
                url: "<%= instruments_path %>.json",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    var query = {
                        term: params.term,
                    };
                    return query;
                },
                processResults: function(data) {
                    return {
                      results: data
                    }
                },
                cache: false
            }
        });
        $("#url").select2({
            tags: true
        });
        $('#url').val(<%= @record.url.to_json.html_safe %>);
        $('#url').trigger('change');
        $(".category").select2({});
        $('.select2').width('100%');
    }
</script>

<%= form_for(record) do |f| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Reference</h3>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label 'Endnote Record Number' %>
      <%= f.text_field :endnum, :class => "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :doi %>
      <%= f.text_field :doi, :class => "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :url %>
      <% data_for_select = @record.url.each { |k| [k, k] } %>
      <%= select_tag "record[url][]", options_for_select(data_for_select), :multiple => true, :id => "url" %>
      <!--<%= f.text_field :url, :class => "form-control" %>-->
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :abstract %>
      <%= f.text_area :abstract, :class => "form-control", :rows => 10 %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :issn %>
      <%= f.text_field :issn, :class => "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :issue %>
      <%= f.text_field :issue, :class => "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :journal %>
      <%= f.text_field :journal, :class => "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :accnum %>
      <%= f.text_field :accnum, :class => "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :author %>
      <% author_str = @record.author.join(';') %>
      <%= text_area_tag "record[author_str]", author_str, :class => "form-control" %>
      <span class="form_note">Separate names with colons</span>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :pubyear %>
      <%= f.number_field :pubyear, :class => "form-control" %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-12 form-group">
      <%= f.label :startpage %>
      <%= f.text_field :startpage, :class => "form-control" %>
    </div>
  </div>

  <h3>Construct</h3>
  <div class="field row">
    <h4>Biological and physiological variables</h4>
    <div class="col-md-3 ">
      <% catall[:bpv].each do |d| %>
        <div class="form-check">
          <label>
            <%= f.check_box(:bpv, {:multiple => true, :checked => (@record.bpv.include? d.name)}, d.name, nil) %>
            <span class="label-text"><%= d.name %></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field row">
    <h4>Symptom status</h4>
    <div class="col-md-3 ">
      <% catall[:ss].each do |d| %>
        <div class="form-check ">
          <label>
            <%= f.check_box(:ss, {:multiple => true, :checked => (@record.ss.include? d.name)}, d.name, nil) %>
            <span class="label-text"><%= d.name %></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field row">
    <h4>Functional status</h4>
    <div class="col-md-3 ">
      <% catall[:fs].each do |d| %>
        <div class="form-check ">
          <label>
            <%= f.check_box(:fs, {:multiple => true, :checked => (@record.fs.include? d.name)}, d.name, nil) %>
            <span class="label-text"><%= d.name %></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field row">
    <h4>General health perceptions / HRQoL</h4>
    <div class="col-md-3 ">
      <% catall[:ghp].each do |d| %>
        <div class="form-check ">
          <label>
            <%= f.check_box(:ghp, {:multiple => true, :checked => (@record.ghp.include? d.name)}, d.name, nil) %>
            <span class="label-text"><%= d.name %></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field row">
    <h4>Overall QoL</h4>
    <div class="col-md-3 ">
      <% catall[:oql].each do |d| %>
        <div class="form-check ">
          <label>
            <%= f.check_box(:oql, {:multiple => true, :checked => (@record.oql.include? d.name)}, d.name, nil) %>
            <span class="label-text"><%= d.name %></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>


  <h3>Population</h3>
  <div class="field row">
    <h4>Age</h4>
    <div class="col-md-3 ">
      <% catall[:age].each do |d| %>
        <div class="form-check ">
          <label>
            <%= f.check_box(:age, {:multiple => true, :checked => (@record.age.include? d.name)}, d.name, nil) %>
            <span class="label-text"><%= d.name %></span>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field row">
    <!--<%= select_tag "disease[]", options_from_collection_for_select(Category.all.select { |c| c.cat == 'disease' }, :name, :name, {:selected => @record.disease}), :multiple => true, :id => "disease", :class => "form-control category" %>-->

    <h4>Disease</h4>
    <% i = 0 %>
    <% catall[:disease].each do |d| %>
      <% if i % 6 == 0
           if i > 0 %>
          </div>
        <% end %>
        <div class="col-md-3 ">
      <% end
         i = i + 1 %>
      <div class="form-check">
        <label>
          <%= f.check_box(:disease, {:multiple => true, :checked => (@record.disease.include? d.name)}, d.name, nil) %>
          <span class="label-text"><%= d.name %></span>
        </label>
      </div>

    <% end %>
    </div>
    </div>


    <h3>Measurement instrument</h3>
    <div class="field row">
      <h4>PRO / non-PRO </h4>
      <div class="col-md-3 ">
        <% catall[:pnp].each do |d| %>
          <div class="form-check ">
            <label>
              <%= f.check_box(:pnp, {:multiple => true, :checked => (@record.pnp.include? d.name)}, d.name, nil) %>
              <span class="label-text"><%= d.name %></span>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="field row">
      <h4>Type of measurement instrument</h4>
      <div class="col-md-3 ">
        <% catall[:tmi].each do |d| %>
          <div class="form-check ">
            <label>
              <%= f.check_box(:tmi, {:multiple => true, :checked => (@record.tmi.include? d.name)}, d.name, nil) %>
              <span class="label-text"><%= d.name %></span>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <h3>Cosmin Used</h3>
    <div class="field row">
      <div class="col-md-3 ">
        <div class="form-check ">
          <label>
            <%= f.check_box(:cu, {:checked => @record.cu}, 1, nil) %>
            <span class="label-text">Cosmin used</span>
          </label>
        </div>
      </div>
    </div>

    <h3>Name of included instruments</h3>
    <div class="field row">
      <div class="col-sm-12 form-group">
        <%= f.collection_select :instrument_ids, @record.instruments.sort_by { |m| m.name.downcase  }, :id, :name, {selected: @record.instrument_ids}, {:multiple => true} %>
      </div>
      <p>
        <%= link_to 'Instrument list', instruments_url, :target => '_blank' %>
      </p>
    </div>

    <h3>Administrative notes</h3>
    <div class="field row">
      <div class="col-sm-12 form-group">
        <%= f.label :admin_notes %>
        <%= f.text_area :admin_notes, :class => "form-control", :rows => 10 %>
      </div>
    </div>

    <h3>Status</h3>
    <div class="field row">
      <div class="col-md-3">
        <%= select_tag "record[status]", options_from_collection_for_select(Category.all.select { |c| c.cat == 'status' }, :name, :name, {:selected => @record.status}), :multiple => false, :id => "disease", :class => "form-control" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>

    </div>
<% end %>
