<p id="notice"><%= notice %></p>

<p>
  <strong>Cosmin:</strong>
  <%= @record.cosmin_id %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @record.abstract %>
</p>

<p>
  <strong>Accnum:</strong>
  <%= @record.accnum %>
</p>

<p>
  <strong>Author:</strong>
  <%= @record.author %>
</p>

<p>
  <strong>Bpv:</strong>
  <%= @record.bpv %>
</p>

<p>
  <strong>Cu:</strong>
  <%= @record.cu %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @record.disease %>
</p>

<p>
  <strong>Doi:</strong>
  <%= @record.doi %>
</p>

<p>
  <strong>Fs:</strong>
  <%= @record.fs %>
</p>

<p>
  <strong>Ghp:</strong>
  <%= @record.ghp %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @record.instrument %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @record.issn %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @record.issue %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @record.journal %>
</p>

<p>
  <strong>Oc:</strong>
  <%= @record.oc %>
</p>

<p>
  <strong>Oql:</strong>
  <%= @record.oql %>
</p>

<p>
  <strong>Pnp:</strong>
  <%= @record.pnp %>
</p>

<p>
  <strong>Age:</strong>
  <%= @record.age %>
</p>

<p>
  <strong>Pubyear:</strong>
  <%= @record.pubyear %>
</p>

<p>
  <strong>Ss:</strong>
  <%= @record.ss %>
</p>

<p>
  <strong>Startpage:</strong>
  <%= @record.startpage %>
</p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Tmi:</strong>
  <%= @record.tmi %>
</p>

<p>
  <strong>Url:</strong>
  <%= @record.url %>
</p>

<p>
  <strong>User email:</strong>
  <%= @record.user_email %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
