<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_path %></li>
    <%= render_nav_actions do |config, action| %>
      <li><%= action %></li>
    <% end %>


  <% if has_user_authentication_provider? %>

      <% if current_user %>
        <li>
          <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %>
        </li>
        <% unless current_user.to_s.blank? -%>
          <li>
            <%= link_to current_user, edit_user_registration_path %>
          </li>
          <% if Rails.configuration.x.admin_users_email.include? current_user.email %>
            <li>
              <%= link_to 'Admin', records_url %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <li>
          <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
