<script type="application/javascript">
    jQuery.fn.dataTable.Api.register('page.jumpToData()', function (data, column) {
        var pos = this.column(column, {order: 'current'}).data().indexOf(data);
        if (pos >= 0) {
            var page = Math.floor(pos / this.page.info().length);
            this.page(page).draw(false);
        }
        return this;
    });
    $(document).ready(ready);

    function ready() {
        var table = null
        console.log('ready');
        $('#instruments').DataTable().destroy();
        table = $('#instruments').DataTable({
                "responsive": true,
                "deferRender": true,
                "ajax": {
                    "url": '/cosmin/instruments/instrument/table.json',
                    "cache": false,
                    "data": ''
                },
                "dataSrc": "",
                "columns": [
                    {data: 'name'},
                    {data: 'url1'},
                    {data: 'url2'},
                    {data: 'url3'},
                    {data: 'hasrecords'},
                    {data: 'status'},
                    {data: 'id',
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            //<a href="/cosmin/instruments/10032/edit">Edit</a>
                            $(nTd).html("<a href='instruments/"+oData.id+"/edit'>edit</a>");
                        }
                        },
                    {data: 'id',
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            //<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/cosmin/instruments/10032">Delete</a>
                            $(nTd).html("<a data-confirm='Are you sure?' rel='nofollow' data-method='delete' href='instruments/"+oData.id+"'>delete</a>");
                        }
                    }
                ],
                "columnDefs": [
                    {"targets": [1, 2, 3, 4, 5, 6, 7], "searchable": false}
                ],
                "pageLength": 25,
                "initComplete": function () {
                    $('#instruments').DataTable().page.jumpToData('<%= @name %>', 0);
                }
            },
        );

    }
</script>

<p id="notice"><%= notice %></p>

<h1>Instruments</h1>
<div class="row rectable">
  <div class="col-md-12">
    <div class="pull-left">
      <%= link_to 'New Instrument', new_instrument_path, :class => 'btn btn-default' %>
    </div>
    <div class="pull-right">
      <%= link_to 'Download', instruments_path(format: :xlsx), :class => 'btn btn-default' %>
    </div>
  </div>
</div>
<div class="row rectable">
  <div class="col-md-12">
    <table id="instruments" class="table table-striped table-bordered" style="width: 100%;">
      <thead>
      <tr>
        <th>Name</th>
        <th>PROQOLID</th>
        <th>ZUYD (NL)</th>
        <th>Also see</th>
        <th>has records</th>
        <th>status</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'New Instrument', new_instrument_path %>
